<ion-header>
  <ion-toolbar>
    <ion-title>
      Camera Math Dictionary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionChange)="search()" [(ngModel)]="word"></ion-searchbar>
  <ion-list>
    <ion-item detail *ngFor="let word of words" (click)="openModal(word)" button>
      <ion-label>{{word.term}}</ion-label>
    </ion-item>
    <ion-item *ngIf="words.length == 0">
      <ion-label>No result</ion-label>
    </ion-item>
    <ion-infinite-scroll threshold="50%" (ionInfinite)="loadMore($event)" *ngIf="!disableLoad">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
  
</ion-content>
