ion-grid {
	text-align: center;
}

img {
	height: 400px;
	min-width: 300px;
	object-fit: contain;
    object-position: center;
}

:host {
  ion-content {
    --background: center / cover no-repeat url('/assets/bg.png');
  }
}