<ion-content padding>
    <ion-grid>
        <ion-row><ion-col class="header">Camera Math Dictionary</ion-col></ion-row>
        <ion-row><ion-col>Aaron John  Perio</ion-col></ion-row>
        <ion-row><ion-col>Jhondel Macalindong</ion-col></ion-row>
        <ion-row><ion-col>Mannyboy Nepomuceno</ion-col></ion-row>
        <ion-row><ion-col>Alliah Marie Amasan</ion-col></ion-row>
        <ion-row><ion-col><ion-button (click)="goBack()">Back</ion-button></ion-col></ion-row>
    </ion-grid>
</ion-content>